@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-body text-black-light;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }
  svg {
    @apply inline;
  }

  [contenteditable="true"]:empty:before {
    @apply pointer-events-none block text-gray-300 content-[attr(placeholder)];
  }
}

@layer components {
  .tab {
    @apply relative flex h-[70px] cursor-pointer items-center justify-center gap-2 whitespace-nowrap text-center 
    font-display font-medium capitalize text-gray-300 outline-none before:absolute before:bottom-0 
    before:block before:h-[3px] before:w-full before:rounded-full hover:text-black-light hover:before:bg-gray-300;
  }

  .tab-active {
    @apply text-black-light before:bg-green-500 hover:before:bg-green-500;
  }

  .custom-scrollbar::-webkit-scrollbar {
    @apply h-[8px] w-[8px];
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply rounded-[10px];
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-[10px] bg-gray-100;
  }
}

[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  pointer-events: none;
  display: block; /* For Firefox */
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
