@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-body text-[15px] text-black-light;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }
  svg {
    @apply inline;
  }

  [contenteditable="true"]:empty:before {
    @apply pointer-events-none block text-gray-300 content-[attr(placeholder)];
  }

  input[type="range"] {
    @apply cursor-pointer appearance-none bg-transparent;
  }

  input[type="range"]::-webkit-slider-runnable-track,
  input[type="range"]::-moz-range-track {
    @apply h-[4px] rounded-full bg-gray-100;
  }

  input[type="range"]::webkit-progress-value {
    @apply bg-green-500;
  }

  input[type="range"]::-webkit-slider-thumb,
  input[type="range"]::-moz-range-thumb {
    @apply -mt-[4px] h-[12px] w-[12px] appearance-none rounded-full bg-green-500 transition-all;
  }

  input[type="range"]::-webkit-slider-thumb:hover,
  input[type="range"]::-moz-range-thumb:hover {
    @apply scale-105 ring-4 ring-green-500/30;
  }

  /* input[type="range"]::-moz-range-track {
    @apply h-[4px] rounded-full bg-gray-100;
  } */
}

@layer components {
  .tab {
    @apply relative flex h-[60px] cursor-pointer items-center justify-center gap-3 whitespace-nowrap text-center 
    font-display font-medium capitalize text-gray-300 outline-none before:absolute before:bottom-0 before:block
    before:h-[3px] before:w-full before:rounded-full before:transition-colors hover:text-black-light hover:before:bg-gray-300;
  }

  .tab-varying {
    @apply relative flex h-[60px] cursor-pointer items-center justify-center gap-3 whitespace-nowrap text-center 
    font-display font-medium capitalize text-gray-300 outline-none before:absolute before:bottom-0 before:block
    before:h-[3px] before:w-full before:rounded-full before:transition-colors hover:text-black-light hover:before:bg-gray-300
    sm:h-[30px] sm:px-4 sm:before:left-0 sm:before:top-1/2 sm:before:h-full sm:before:w-[3px] sm:before:-translate-y-1/2;
  }

  .tab-active {
    @apply text-black-light before:bg-green-500 hover:before:bg-green-500;
  }

  .custom-scrollbar::-webkit-scrollbar {
    @apply h-[8px] w-[8px];
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply rounded-[10px];
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-[10px] bg-gray-100;
  }

  .scroll-disabled {
    @apply fixed w-full overflow-y-scroll;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
